@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');


* {
    font-family: 'Arsenal', sans-serif;
  }
  .my-bg {
    background-color:#b8e6ba;
    /*#EDD9FF;*/
  }
  a {
    color: #665340 !important;
    font-family: 'Arsenal', sans-serif;
    font-size: 30px;
  }
  h3 {
    color:#665340;
    font-size: 30px
  }
  a:hover {
    color: #665340 !important;
  }

  h2 {
    color: #665340;
  }

  p {
    color: #665340
  }
.box {
  background-color: #b8e6ba;
  color: white;
  border-radius: 16px;
}